.container {
display: block;
  cursor: pointer;
}

.questionDisplayer {
    display: block;
    font-size: 30px;
    padding-top: 100px;
    text-align: center;
}

.answerChoices {
  display: block;
  justify-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 1%;
  cursor: pointer;
  border-radius: 8px;
  background-color: #093145;

  

}